
@{
    ViewData["Title"] = "Movie Ratings";
}

<h1>Movie Ratings</h1>
<table>
    <tr>
        <th>Movie</th>
        <th>Rating</th>
    </tr>
    @foreach (var movie in ViewBag.Movie)
    {
        <tr>
            <td id="movieRating.ID">@movie.Movie</td>
            <td id="movieRating.ID">@movie.Rating</td>
        </tr>   
    }
</table>
